/* RESET */
img {
    max-width: 100%;
}

:root {
    /* heights */
    --header-height: 75px;
    --main-height: calc(100vh - var(--header-height));
    --sidebar-icon-height: 30px;
    --dashboard-height: calc(100% - var(--header-height));

    /* widths */
    --sidebar-sm-width: 70px;
    --sidebar-lg-width: 140px;
    --sidebar-icon-width: 30px;
    --table-avatar-width: 25px;

    /* backgrounds */
    --bg-sidebar-color: #051E34;
    --bg-sidebar-img: url(../img/sidebar-bg.png);
}

.wrapper {
    width: 100%;
    height: 100vh;
}

header {
    height: var(--header-height);
    width: 100%;

    /* debug */
    background-color: blue;
}

main {
    height: var(--main-height);
    width: 100%;
}

.sidebar {
    height: var(--main-height);
    min-width: var(--sidebar-sm-width);
    background-image: var(--bg-sidebar-img);
    background-color: var(--bg-sidebar-color);
}

.sidebar i {
    width: var(--sidebar-icon-width);
    height: var(--sidebar-icon-height);
}

.content {
    width: 100%;
}

.top-bar {
    min-height: 100px;
    /* debug */
    background-color: lightblue;
}

.dashboard {
    width: 100%;
    height: var(--dashboard-height);
}

td {
    font-weight: 500;
}

td img {
    width: var(--table-avatar-width);
    margin-right: 5px;
}

/* Tablet */
@media screen and (min-width: 768px) {}

/* Desktop */
@media screen and (min-width: 992px) {
    .sidebar {
        width: var(--sidebar-lg-width);
    }
}